.params-container {
  display: flex;
}

.param-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.param-container button {
  width: 240px;
  margin: 8px;
  text-transform: none;
  font-size: 12px;
}
